<input type="text" name="anade" [(ngModel)]="gHobbit" placeholder="Introduzca el nombre" value={{gHobbit}}/>
<input type="button" (click)="createHobbit(accion.indice)" value="{{accion.nombre}}"/>

<br><br>

<table *ngIf="list.length>0">
  <thead>
    <tr>
      <th>NOMBRE</th>
      <th colspan="2">ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let nombre of list; let i=index">
      <td>{{ nombre }}</td>
      <td><button value="Editar" (click)="editHobbit(nombre)">Modificar</button></td>
      <td><button value="Eliminar" (click)="removeHobbit(i)">Borrar</button></td>
    </tr>
  </tbody>
</table>
