<div class="saludo2">
    <h2>Segundo componente trabajando</h2>
    <h1>{{titulico}}</h1>
    <h3>{{arrayCosas}}</h3>
    <ul>
        <li *ngFor= "let esencia of arrayCosas">
            {{esencia}}
        </li>
    </ul>
    <h2>Ahora lo ponemos de otra forma</h2>
    <ul>
        <app-primer-component *ngFor="let esencia of arrayCosas" [nombreComponent]="esencia"></app-primer-component>
    </ul>
    <ul>
        <app-primer-component [nombreComponent]="'La pizza fria'"></app-primer-component>
    </ul>
</div>
